@charset "UTF-8";

/* CSS para print */

*{
    padding: 10px;
    margin: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    font-size: 1.5em;
}

menu{
    display: none;
}

article{
    width: 100%;
}

article::after{
    content: 'Este artigo foi feito pelo curso em video';
}