@charset "UTF-8";

/* CSS para telas */


* {
    padding: 0px;
    margin: 0px;
}

h1{
    text-align: center;
    padding: 20px;
    background-color: gray;
}

menu ul{
    padding: 10px;
    border: 1px solid black;
}

menu li{
    display: inline-block;
    padding-left: 10px;
}

article{
    width: 600px;
    margin: auto;
    display: block;
    line-height: 1.5em;
    text-align: justify;
}

h2{
    padding: 10px;
}